/*** Fonts ***/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/*** Variable ***/
/*** Global Style ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: #000000;
}

h1 {
  font-size: 24px;
  line-height: 32px;
}

h2 {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 48px;
    line-height: 58px;
  }
  h2 {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 24px;
  }
  h3 {
    font-size: 32px;
  }
}
/*** Common Class ***/
.common-pera {
  font-size: 14px;
  font-weight: 500;
  color: #3f555d;
  line-height: 22px;
}

.small-pera {
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
}

.container {
  max-width: 343px;
  margin: auto;
}

.btn {
  background-color: #1f94aa;
  padding: 14px 32px;
  border: none;
  border-radius: 50px;
}
.btn a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

@media only screen and (min-width: 1440px) {
  .common-pera {
    font-size: 15px;
    line-height: 25px;
  }
  .small-pera {
    font-size: 14px;
    line-height: 25px;
  }
  .container {
    max-width: 1240px;
  }
  .btn {
    padding: 16px 36px;
  }
}
#ass-seen-on {
  padding: 123px 0px 80px 0px;
}
#ass-seen-on .container {
  text-align: center;
}
#ass-seen-on .container h5 {
  font-size: 14px;
  font-weight: 600;
  color: #c4c4c4;
  margin-bottom: 29px;
}
#ass-seen-on .container .img-container {
  display: flex;
  flex-flow: row wrap;
  column-gap: 55px;
  row-gap: 33px;
  justify-content: center;
}
#ass-seen-on .container .img-container .img-wrap:nth-child(1) {
  width: 64px;
}
#ass-seen-on .container .img-container .img-wrap:nth-child(2) {
  width: 81px;
}
#ass-seen-on .container .img-container .img-wrap:nth-child(3) {
  width: 87px;
}
#ass-seen-on .container .img-container .img-wrap:nth-child(4) {
  width: 58px;
}
#ass-seen-on .container .img-container .img-wrap:nth-child(5) {
  width: 130px;
}
#ass-seen-on .container .img-container .img-wrap img {
  width: 100%;
}

@media only screen and (min-width: 1440px) {
  #ass-seen-on {
    padding: 120px 0px 120px 0px;
  }
  #ass-seen-on .container h5 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  #ass-seen-on .container .img-container {
    column-gap: 150px;
  }
  #ass-seen-on .container .img-container .img-wrap:nth-child(1) {
    width: 96px;
  }
  #ass-seen-on .container .img-container .img-wrap:nth-child(2) {
    width: 122px;
  }
  #ass-seen-on .container .img-container .img-wrap:nth-child(3) {
    width: 130px;
  }
  #ass-seen-on .container .img-container .img-wrap:nth-child(4) {
    width: 88px;
  }
  #ass-seen-on .container .img-container .img-wrap:nth-child(5) {
    width: 195px;
  }
  #ass-seen-on .container .img-container .img-wrap img {
    width: 100%;
  }
}
/*** Content ***/
#content .container div {
  padding: 24px;
  background-color: #f7f7fe;
  max-width: 343px;
  border-radius: 24px;
}

.inito-different {
  margin-top: 24px;
}

.bold {
  font-weight: 700;
}

@media only screen and (min-width: 1440px) {
  #content .container div {
    padding: 0px;
    background-color: white;
    max-width: initial;
    border-radius: 0px;
    text-align: center;
  }
  #content .container div p {
    display: flex;
    flex-flow: column wrap;
  }
  .inito-different {
    margin-top: 80px;
  }
}
.border {
  border-bottom: 3px solid #3f555d;
  border-radius: 5px;
}

/*** Top Question ***/
#top-question {
  padding: 101px 0px 90px 0px;
}

/*** Footer ***/
footer {
  background-color: #112d35;
  padding: 24px 0px 16px 0px;
}

/*# sourceMappingURL=style.css.map */
