/*** Footer ***/
footer {
  background-color: $deepliv;
  padding: 24px 0px 16px 0px;

  .container {
    .footer-top {
      .advantage {
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        flex-flow: column wrap;
        row-gap: 16px;
        .item {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          column-gap: 16px;

          .logo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: $deepskyblue;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .logo:nth-child(1) {
            img {
              width: 27px;
            }
          }
          .logo:nth-child(2) {
            img {
              width: 22px;
            }
          }
          .logo:nth-child(3) {
            img {
              width: 15px;
            }
          }
          h5 {
            font-size: 14px;
            font-weight: 600;
            color: $white;
          }
        }
      }
      .social-logo-wrap {
        padding: 24px 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .main-logo {
          width: 80px;
          img {
            width: 100%;
          }
        }
        .social {
          display: flex;
          column-gap: 32px;
          span {
            color: $white;
            font-size: 22px;
          }
        }
      }
    }
    .link-wrap {
      padding: 24px 0px;
      display: flex;
      flex-flow: column wrap;
      row-gap: 32px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .main-logo {
        display: none;
      }
      .link {
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          h5 {
            color: $white;
            font-size: 15px;
            font-weight: 700;
          }
          span {
            color: $white;
          }
        }
        .list {
          margin-top: 24px;
          li {
            margin-top: 16px;
            a {
              color: $mediumoliv;
              font-size: 15px;
              font-weight: 500;
            }
          }
        }
      }
    }
    .text-wrap {
      display: flex;
      flex-flow: column wrap;
      row-gap: 20px;
      margin-top: 24px;

      p {
        color: $mediumoliv;
      }
      a {
        color: $mediumoliv;
      }
    }
  }
}

@include media(1440px) {
  footer {
    padding: 50px 0px 36px 0px;

    .container {
      .footer-top {
        padding-bottom: 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        .advantage {
          padding-bottom: 0px;
          flex-flow: row wrap;
          column-gap: 32px;
          border: none;
          .item {
            .logo {
              width: 48px;
              height: 48px;
            }
          }
        }
        .social-logo-wrap {
          border-bottom: none;
          padding: 0px 0px;
          .main-logo {
            display: none;
          }
        }
      }
      .link-wrap {
        padding: 40px 0px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        .main-logo {
          display: block;
          width: 104px;
          img {
            width: 100%;
          }
        }
        .list-wrap{
            width: 690px;
            display: flex;
            column-gap: 110px;
          .link {
            .title {
              span {
                display: none;
              }
            }
            .list {
              margin-top: 40px;
            }
          }
        }
      }
      .text-wrap {
        display: flex;
        flex-flow: column wrap;
        row-gap: 20px;
        margin-top: 24px;

        p {
          color: $mediumoliv;
        }
        a {
          color: $mediumoliv;
        }
      }
    }
  }
}
